.workContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.canvasWrap {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.canvasBody {
  position: relative;
  width: 80%;
  max-width: 900px;
}

.canvasStage canvas {
  background-color: white !important;
  box-shadow: 0 2px 8px rgb(14 19 24 / 7%);
}

/* responsive */
@media screen and (max-width: 1024px) {
  .workContainer {
    flex-direction: column-reverse;
  }
}